.our{
  margin-bottom: 120px;
}
.our__img{
  width: 327px;
  height: 400px;
  margin-bottom: 48px;
}
.our__content{
  width: 327px;  
  text-align: center;
}
.our__title{
  margin: 0;
  margin-bottom: 30px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  color: #333D4B;
}
.our__text{
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #333D4B;
  opacity: 0.8;
}